html[theme="light"] {
    --bg-shape: url('../images/bg-shape-light.png');

    body {
        background: #fff;
    }

    * {
        color: $paragraph_light;
    }

    .btn-custom-blue {
        background: #E9EFFF;
        color: $primary;
    }

    #sidebar {
        .logo img {
            filter: invert(1);
        }

        nav ul li {
            a {
                &:hover i {
                    color: $paragraph_light;
                }

                i {
                    color: $gray_light;
                }
            }

            >span {
                background: $secondary_gray_light;
            }
        }

        .toggle-mode .outer {
            background: $secondary_gray_light;

            .inner {
                margin-top: 5px;

                &:before {
                    background: $secondary_gray_light;
                    opacity: 0;
                }
            }
        }
    }

    #home {
        .info {
            h1 span {
                color: $gray_light;
            }

            .field h2 {
                color: $gray_light;
            }

            .socials ul li a {
                &:hover {
                    background: $secondary_gray_light;
                    
                    i,
                    span {
                        color: $paragraph_light;
                    }
                }

                i,
                span {
                    color: $gray_light;
                }
            }
        }
    }
}