@media (max-width: 991px) {
    #home {
        .image {
            height: unset;
            margin-top: 40px;
            margin-bottom: 40px;

            img {
                margin-right: auto;
                margin-left: unset;
            }
        }
    }
}

@media (max-width: 767px) {
    #sidebar {
        background: darken($secondary, 30%);
        padding-right: 60px;
        transform: translateX(-100%);
        z-index: 10;
        transition: all 0.3s;

        &.open {
            transform: translateX(0);
        }

        .toggle-sidebar {
            display: flex;
        }

        .logo {
            text-align: left;
        }

        nav ul li {
            a {
                display: flex;
                align-items: center;
                text-decoration: none;

                span {
                    display: block;
                    padding-left: 8px;
                }
            }

            >span {
                display: none;
            }
        }
    }

    #home {
        background-image: unset;

        .info {
            padding-top: 80px;

            .socials {
                margin-top: 70px;

                ul {
                    justify-content: space-between;

                    li {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    main {
        padding-left: 0;

        >section {
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }
}