@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1, h2, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

p {
  line-height: 175%;
}

body {
  background: #151516;
  font-family: "Ubuntu", sans-serif;
}

* {
  color: #fff;
}

main {
  padding-left: 102px;
}
main > section {
  display: none;
  padding-right: 32px;
  padding-left: 32px;
}
main > section:not(#home) {
  padding-top: 64px;
}
main > section.active {
  display: block;
}
main > section header.has-bg {
  position: relative;
  display: inline-flex;
}
main > section header.has-bg img {
  position: absolute;
  top: 15px;
  left: -72px;
}
main > section header.custom {
  position: relative;
  text-align: center;
  margin-bottom: 42px;
}
main > section header.custom:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #1E1E20;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
main > section header.custom h2 {
  display: inline-block;
  padding: 0 24px;
  background: #151516;
}

.btn-custom-blue, .btn-custom-dark {
  display: inline-block;
  position: relative;
  background: #262F48;
  padding: 10px 52px;
  text-decoration: none;
  color: #658DF2;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s;
}
.btn-custom-blue:before, .btn-custom-dark:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: #658DF2;
  opacity: 0.3;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  transition: all 0.3s;
}
.btn-custom-blue:hover, .btn-custom-dark:hover {
  color: #fff;
}
.btn-custom-blue:hover:before, .btn-custom-dark:hover:before {
  transform: translate(-50%, -50%) scale(2);
}

.btn-custom-dark {
  background: #1E1E20;
}

#sidebar {
  position: fixed;
  height: 100vh;
  padding-right: 39px;
  padding-left: 39px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
#sidebar .toggle-sidebar {
  position: absolute;
  font-size: 30px;
  width: 45px;
  height: 45px;
  background: black;
  display: none;
  justify-content: center;
  align-items: center;
  right: -45px;
}
#sidebar .logo {
  height: 20%;
  padding-top: 62px;
  text-align: center;
}
#sidebar nav {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar nav ul li {
  position: relative;
  margin-bottom: 35px;
}
#sidebar nav ul li a {
  position: relative;
}
#sidebar nav ul li a:hover i {
  color: #fff;
}
#sidebar nav ul li a:hover + span {
  opacity: 1;
  left: 30px;
}
#sidebar nav ul li a:before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #658DF2;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;
}
#sidebar nav ul li a.active:before {
  opacity: 0.15;
  transform: translate(-50%, -50%) scale(1);
}
#sidebar nav ul li a.active i {
  color: #658DF2;
}
#sidebar nav ul li a span {
  display: none;
}
#sidebar nav ul li a i {
  font-size: 18px;
  color: #B6B7BA;
  transition: all 0.3s;
}
#sidebar nav ul li > span {
  position: absolute;
  white-space: nowrap;
  top: -8px;
  left: 20px;
  padding: 7px 13px;
  background: rgba(30, 30, 32, 0.75);
  border-radius: 6px;
  opacity: 0;
  transition: all 0.3s;
}
#sidebar .toggle-mode {
  height: 20%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 62px;
}
#sidebar .toggle-mode .outer {
  width: 24px;
  height: 35px;
  background: #1E1E20;
  border-radius: 24px;
}
#sidebar .toggle-mode .outer .inner {
  position: relative;
  width: 14px;
  height: 14px;
  background: #658DF2;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
}
#sidebar .toggle-mode .outer .inner:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background: #1E1E20;
  top: -4px;
  left: 3px;
  border-radius: 50%;
}

#home {
  background-image: url("../images/bg-shape.png");
  background-repeat: no-repeat;
  background-position: 40vw -24px;
}
#home .info {
  padding-top: 281px;
}
#home .info img.person-circle {
  margin-bottom: 24px;
}
#home .info h1 {
  margin-bottom: 24px;
}
#home .info h1 span {
  color: #B6B7BA;
}
#home .info .field {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
#home .info .field h2 {
  color: #B6B7BA;
  margin: 0;
}
#home .info .field span {
  font-size: 21px;
  margin-left: 2px;
}
#home .info p {
  max-width: 430px;
  margin-bottom: 74px;
}
#home .info .socials {
  margin-top: 191px;
}
#home .info .socials ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
#home .info .socials ul li {
  margin-right: 8px;
}
#home .info .socials ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 9px 11px;
  transition: all 0.3s;
}
#home .info .socials ul li a:hover {
  background: #1E1E20;
  border-radius: 6px;
}
#home .info .socials ul li a:hover span,
#home .info .socials ul li a:hover i {
  color: #fff;
}
#home .info .socials ul li a i {
  font-size: 18px;
  margin-right: 8px;
  color: #B6B7BA;
  transition: all 0.3s;
}
#home .info .socials ul li a span {
  color: #808185;
  transition: all 0.3s;
}
#home .image {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#home .image img {
  border-radius: 8px;
  max-width: 100%;
  transition: all 0.3s;
}
#home .image img:hover {
  filter: saturate(200%) sepia(1);
}
#home .meteor-shower {
  position: absolute;
  width: 100%;
  height: 100vh;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
}
#home .meteor-shower .meteor:nth-child(1) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 2vh;
  left: 70vw;
  -webkit-animation: meteor 3777ms linear infinite;
          animation: meteor 3777ms linear infinite;
  -webkit-animation-delay: 4690ms;
          animation-delay: 4690ms;
}
#home .meteor-shower .meteor:nth-child(2) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 55vh;
  left: 77vw;
  -webkit-animation: meteor 3231ms linear infinite;
          animation: meteor 3231ms linear infinite;
  -webkit-animation-delay: 4793ms;
          animation-delay: 4793ms;
}
#home .meteor-shower .meteor:nth-child(3) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 37vh;
  left: 62vw;
  -webkit-animation: meteor 5766ms linear infinite;
          animation: meteor 5766ms linear infinite;
  -webkit-animation-delay: 367ms;
          animation-delay: 367ms;
}
#home .meteor-shower .meteor:nth-child(4) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 20vh;
  left: 39vw;
  -webkit-animation: meteor 3351ms linear infinite;
          animation: meteor 3351ms linear infinite;
  -webkit-animation-delay: 3265ms;
          animation-delay: 3265ms;
}
#home .meteor-shower .meteor:nth-child(5) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 18vh;
  left: 14vw;
  -webkit-animation: meteor 4011ms linear infinite;
          animation: meteor 4011ms linear infinite;
  -webkit-animation-delay: 3265ms;
          animation-delay: 3265ms;
}
#home .meteor-shower .meteor:nth-child(6) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 5vh;
  left: 62vw;
  -webkit-animation: meteor 7236ms linear infinite;
          animation: meteor 7236ms linear infinite;
  -webkit-animation-delay: 771ms;
          animation-delay: 771ms;
}
#home .meteor-shower .meteor:nth-child(7) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 12vh;
  left: 33vw;
  -webkit-animation: meteor 4226ms linear infinite;
          animation: meteor 4226ms linear infinite;
  -webkit-animation-delay: 2721ms;
          animation-delay: 2721ms;
}
#home .meteor-shower .meteor:nth-child(8) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 72vh;
  left: 79vw;
  -webkit-animation: meteor 7791ms linear infinite;
          animation: meteor 7791ms linear infinite;
  -webkit-animation-delay: 1057ms;
          animation-delay: 1057ms;
}
#home .meteor-shower .meteor:nth-child(9) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 14vh;
  left: 78vw;
  -webkit-animation: meteor 5194ms linear infinite;
          animation: meteor 5194ms linear infinite;
  -webkit-animation-delay: 2795ms;
          animation-delay: 2795ms;
}
#home .meteor-shower .meteor:nth-child(10) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 31vh;
  left: 31vw;
  -webkit-animation: meteor 4856ms linear infinite;
          animation: meteor 4856ms linear infinite;
  -webkit-animation-delay: 3287ms;
          animation-delay: 3287ms;
}
#home .meteor-shower .meteor:nth-child(11) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 27vh;
  left: 26vw;
  -webkit-animation: meteor 6321ms linear infinite;
          animation: meteor 6321ms linear infinite;
  -webkit-animation-delay: 1368ms;
          animation-delay: 1368ms;
}
#home .meteor-shower .meteor:nth-child(12) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 52vh;
  left: 56vw;
  -webkit-animation: meteor 4728ms linear infinite;
          animation: meteor 4728ms linear infinite;
  -webkit-animation-delay: 1167ms;
          animation-delay: 1167ms;
}
#home .meteor-shower .meteor:nth-child(13) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 23vh;
  left: 54vw;
  -webkit-animation: meteor 6426ms linear infinite;
          animation: meteor 6426ms linear infinite;
  -webkit-animation-delay: 3057ms;
          animation-delay: 3057ms;
}
#home .meteor-shower .meteor:nth-child(14) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 75vh;
  left: 48vw;
  -webkit-animation: meteor 7437ms linear infinite;
          animation: meteor 7437ms linear infinite;
  -webkit-animation-delay: 1251ms;
          animation-delay: 1251ms;
}
#home .meteor-shower .meteor:nth-child(15) {
  position: absolute;
  background-image: url("../images/meteor.png");
  width: 60px;
  height: 49px;
  opacity: 0;
  top: 66vh;
  left: 80vw;
  -webkit-animation: meteor 7624ms linear infinite;
          animation: meteor 7624ms linear infinite;
  -webkit-animation-delay: 3307ms;
          animation-delay: 3307ms;
}

@-webkit-keyframes meteor {
  0% {
    transform: translate(300px, -300px);
    opacity: 1;
  }
  15% {
    transform: translate(-300px, 300px);
    opacity: 0;
  }
}

@keyframes meteor {
  0% {
    transform: translate(300px, -300px);
    opacity: 1;
  }
  15% {
    transform: translate(-300px, 300px);
    opacity: 0;
  }
}
#about_me .hero .image img {
  border-radius: 8px;
  max-width: 100%;
  transition: all 0.3s;
}
#about_me .hero .image img:hover {
  filter: saturate(200%) sepia(1);
}
#about_me .hero .info header {
  margin-bottom: 42px;
  margin-top: 10px;
}
#about_me .hero .info h2 {
  color: #B6B7BA;
  margin-bottom: 16px;
}
#about_me .hero .info p {
  max-width: 560px;
  color: #B6B7BA;
}
#about_me .hero .info .items {
  margin-top: 30px;
  margin-bottom: 48px;
}
#about_me .hero .info .items .item {
  display: flex;
  margin-bottom: 16px;
}
#about_me .hero .info .items .item .value {
  color: #B6B7BA;
  margin-left: 4px;
}
#about_me .hero .info .buttons {
  display: inline-flex;
  flex-wrap: wrap;
}
#about_me .hero .info .buttons a:first-child {
  margin-right: 24px;
}
#about_me .rate {
  display: flex;
}
#about_me .rate span {
  position: relative;
  display: flex;
  width: 15px;
  height: 15px;
}
#about_me .rate span:not(:last-child) {
  margin-right: 12px;
}
#about_me .rate span:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background: #658DF2;
  transform: rotate(40deg);
}
#about_me .rate span:after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background: #658DF2;
  transform: rotate(50deg);
}
#about_me .languages-skills {
  margin-top: 126px;
}
#about_me .languages-skills .languages-key-skills {
  padding-right: 160px;
}
#about_me .languages-skills .languages-key-skills .languages .items {
  margin-bottom: 43px;
}
#about_me .languages-skills .languages-key-skills .languages .items .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#about_me .languages-skills .languages-key-skills .languages .items .item:not(:last-child) {
  margin-bottom: 16px;
}
#about_me .languages-skills .languages-key-skills .languages .items .item .info h3 {
  margin-bottom: 4px;
}
#about_me .languages-skills .languages-key-skills .languages .items .item .info .level {
  color: #B6B7BA;
}
#about_me .languages-skills .languages-key-skills .key-skills .items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about_me .languages-skills .languages-key-skills .key-skills .items .item:not(:last-child) {
  margin-bottom: 32px;
}
#about_me .languages-skills .web-skills .items {
  margin-left: -20px;
  margin-right: -20px;
}
#about_me .languages-skills .web-skills .items .item {
  position: relative;
  text-align: center;
  padding: 32px 8px;
  background: #1E1E20;
  margin-bottom: 16px;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
}
#about_me .languages-skills .web-skills .items .item:hover:before, #about_me .languages-skills .web-skills .items .item:hover:after {
  transform: translate(0, 0);
}
#about_me .languages-skills .web-skills .items .item:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #0b2c80;
  left: 0;
  top: 0;
  border-radius: 8px;
  z-index: -1;
  transform: translate(100%, -100%);
  transition: all 0.6s;
}
#about_me .languages-skills .web-skills .items .item:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #0b2c80;
  left: 0;
  top: 0;
  border-radius: 8px;
  z-index: -1;
  transform: translate(-100%, 100%);
  transition: all 0.6s;
}
#about_me .languages-skills .web-skills .items .item img {
  margin-bottom: 21px;
}
#about_me .languages-skills .web-skills .items .item h3 {
  margin-bottom: 8px;
}
#about_me .languages-skills .web-skills .items .item .year {
  color: #FF9F76;
}
#about_me .certificates {
  margin-top: 120px;
  margin-bottom: 200px;
}
#about_me .certificates .items .item img {
  width: 100%;
  transition: all 0.3s;
}
#about_me .certificates .items .item img:hover {
  transform: scale(1.1);
}

#my_resume {
  padding-bottom: 115px;
  background-image: url(../images/bg-shape.png);
  background-repeat: no-repeat;
  background-position: 40vw 374px;
}
#my_resume header.has-bg {
  margin-bottom: 64px;
}
#my_resume .items .item {
  display: flex;
}
#my_resume .items .item:not(:last-child) {
  margin-bottom: 42px;
}
#my_resume .items .item.last .icon i,
#my_resume .items .item.last .box .title {
  color: #658DF2;
}
#my_resume .items .item:hover .icon,
#my_resume .items .item:hover .icon:before {
  background: rgba(11, 44, 128, 0.4);
}
#my_resume .items .item:hover .box {
  background: transparent;
}
#my_resume .items .item:hover .box:before {
  border-right-color: rgba(11, 44, 128, 0.4);
}
#my_resume .items .item:hover .box:after {
  width: 100%;
}
#my_resume .items .item .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.0509803922);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 18px;
  margin-right: 46px;
  margin-top: 23px;
  transition: all 0.3s;
}
#my_resume .items .item .icon:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 126px;
  background: #1E1E20;
  top: 82px;
  transition: all 0.3s;
}
#my_resume .items .item .box {
  position: relative;
  padding: 32px;
  background: rgba(30, 30, 32, 0.75);
  border-radius: 8px;
  text-align: left;
  z-index: 1;
  flex-grow: 1;
  transition: all 0.3s;
}
#my_resume .items .item .box:before {
  content: "";
  position: absolute;
  border-right: 9px solid rgba(30, 30, 32, 0.75);
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  left: -9px;
  top: 36px;
}
#my_resume .items .item .box:after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 8px;
  background: rgba(11, 44, 128, 0.4);
  z-index: -1;
  transition: all 0.3s;
}
#my_resume .items .item .box .year {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}
#my_resume .items .item .box .title {
  margin-bottom: 16px;
}
#my_resume .items .item .box p {
  font-size: 18px;
  font-weight: 400;
  color: #B6B7BA;
  max-width: 345px;
}
#my_resume .education {
  padding-right: 34px;
}
#my_resume .experience {
  padding-left: 34px;
}

#my_work .filters button {
  background: #000;
  margin-right: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}
#my_work .work-items .item .wrap img {
  width: 100%;
}

#contact {
  background: #000;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1199px) {
  #about_me .languages-skills .languages-key-skills {
    padding-right: 12px;
  }

  #my_resume .experience {
    margin-top: 100px;
  }
}
@media (max-width: 991px) {
  #home .image {
    justify-content: flex-start;
    height: unset;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  #sidebar {
    background: black;
    padding-right: 60px;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  #sidebar.open {
    transform: translateX(0);
  }
  #sidebar .toggle-sidebar {
    display: flex;
  }
  #sidebar .logo {
    text-align: left;
  }
  #sidebar nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  #sidebar nav ul li a span {
    display: block;
    padding-left: 8px;
  }
  #sidebar nav ul li > span {
    display: none;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 20px;
  }

  main {
    padding-left: 0;
  }
  main > section header.has-bg img {
    left: -13px;
    top: -4px;
  }

  #home {
    background-image: unset;
  }
  #home .info {
    padding-top: 80px;
  }
  #home .info .socials {
    margin-top: 70px;
  }
  #home .info .socials ul {
    justify-content: space-between;
  }

  #about_me .hero .info .buttons {
    flex-direction: column;
  }
  #about_me .hero .info .buttons a {
    width: 100%;
    text-align: center;
  }
  #about_me .hero .info .buttons a:first-child {
    margin-bottom: 16px;
  }

  #my_resume .items .item {
    position: relative;
  }
  #my_resume .items .item .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -23px;
    z-index: 2;
    margin-top: 0;
    background: rgba(30, 30, 32, 0.75);
  }
  #my_resume .items .item .icon:before {
    display: none;
  }
  #my_resume .items .item .box:before {
    display: none;
  }
  #my_resume .education,
#my_resume .experience {
    padding-right: 12px;
    padding-left: 12px;
  }
}